@model JopWebsite.Models.Department

@{
    ViewBag.Title = "تعديل";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-block">
                <div class="form-horizontal">
                    <h4>@ViewBag.Title</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.DepartmentId)

                    <div class="form-group">
                        @Html.LabelFor(model => model.DepartmentName, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.DepartmentName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DepartmentName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DepartmentMangment, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.DepartmentMangment, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DepartmentMangment, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="text-lg-center col-md-10">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
                <div style="float:left">
                    <a href="@Url.Action("Index")" class="btn btn-outline-brown">عوده</a>
                </div>
            </div>
        </div>
    </div>

}


