@model IEnumerable<JopWebsite.Models.Department>

@{
    ViewBag.Title = "اسعراض الاقسام";
}

<div class="col-md-12">
    <br /><br />
</div>
<div class="col-md-1"></div>
<div class="col-md-10">
    <h3>@ViewBag.Title</h3>
    <br />
    <table class="display table table-striped" id="table">
        <thead class="ri">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DepartmentName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepartmentMangment)
                </th>
                <th>تعديل</th>
            </tr>
        </thead>
        <tbody class="ri">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentMangment)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit","Departments",new { id=item.DepartmentId})" class="btn btn-outline-success">تعديل</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="col-md-1"></div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#table").DataTable(
                {
                    "oLanguage": {
                        "sUrl": "/DataTableSetting/dataTable.txt"
                    }
                });


        });
    </script>
}