@model IEnumerable<JopWebsite.Models.Profile>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutkh.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProDiscraption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProDiscraption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
