@model  Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-block">
                <div class="form-horizontal">
                    <h4>RoleViewModel</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="text-lg-center col-md-10">
                            <input type="submit" value="حفظ" class="btn btn-success"style="width:32%;margin-top:30px" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}

 